{% extends "eduprod/layout.html" %}
{% block body %}
{% load static %}

<form action="{% url 'eduprod:index' %}" method="post" style="margin: 0; margin-left: 20px;">

<div class="landing">
    <div class="banner">
    </div>
    <div class="buttons-container">
        <button class="student-btn" onclick="window.location.href='/quiz'">I'm a student</button>
        <button class="teacher-btn" onclick="window.location.href='/authentication'">I'm a teacher</button>
    </div>
</div>


{% endblock %}

